.form-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.patient-info , .medicine-info {
  display: flex;
  flex-direction: column;
  gap:6vh;
}

.medicine-form-open {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.order-btns{
  display: flex;
  margin-top: 4vh;
  flex-direction: row;
  justify-content: space-between;
}

.suggested-meds-list{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  max-height: 20vh;
  overflow-y: auto;
}